Repository hyonun321/JobThoughts, pull requests merged in 2025-05, with the labels that each got.

#1 Build 초기 빌드 환경 pnpm 세팅
  .github/ISSUE_TEMPLATE/bug-fix-template.md
  .github/ISSUE_TEMPLATE/feature-template.md
  .github/ISSUE_TEMPLATE/refactor-template.md
  .github/PULL_REQUEST_TEMPLATE.md
  .gitignore
  client/.gitignore
  client/README.md
  client/eslint.config.js
  client/index.html
  client/package.json
  client/public/vite.svg
  client/src/App.css
  client/src/App.tsx
  client/src/assets/react.svg
  client/src/index.css
  client/src/main.tsx
  client/src/vite-env.d.ts
  client/tsconfig.app.json
  client/tsconfig.json
  client/tsconfig.node.json
  client/vite.config.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  server/index.js
  server/package.json
Labels: BUILD

#4 Build: 개발환경 세팅
  client/package.json
  client/public/images/chart-placeholder.png
  client/src/App.tsx
  client/src/components/Button.tsx
  client/src/components/Footer.tsx
  client/src/components/FullScreenSection.tsx
  client/src/components/Image.tsx
  client/src/data/jobRecommendationData.ts
  client/src/data/mockJobData.ts
  client/src/data/testData.ts
  client/src/features/jobs/FilterBar.tsx
  client/src/features/jobs/JobCard.tsx
  client/src/features/jobs/JobCardList.tsx
  client/src/features/jobs/JobListHeader.tsx
  client/src/features/main/CharacterBanner.tsx
  client/src/features/main/FlowButtonSection.tsx
  client/src/features/main/HeroSection.tsx
  client/src/features/main/MessageSection.tsx
  client/src/features/main/QuestionSection.tsx
  client/src/features/main/StartCTASection.tsx
  client/src/features/result/JobGroupSection.tsx
  client/src/features/result/ResultChart.tsx
  client/src/features/result/ResultDescriptionCard.tsx
  client/src/features/test/TestCompleteSection.tsx
  client/src/features/test/TestInformSection.tsx
  client/src/features/test/TestQuestionSection.tsx
  client/src/main.tsx
  client/src/pages/JobListPage.tsx
  client/src/pages/MainPage.tsx
  client/src/pages/ResultPage.tsx
  client/src/pages/TestPage.tsx
  client/src/routes/index.tsx
  eslint.config.js
  package.json
  pnpm-lock.yaml
Labels: CLIENT, BUILD, FEAT

#5 Docs: Update README.md
  README.md
Labels: DOCS

#15 Feat: 커리어넷 api 연동
  .gitignore
  client/src/pages/DevPage.tsx
  client/src/routes/index.tsx
  pnpm-lock.yaml
  server/data/mockData.js
  server/index.js
  server/package.json
  server/puppeteer-scrapper.js
  server/routes/questions.js
  server/routes/report.js
  server/services/careerAPI.js
  server/services/puppeteer.js
Labels: CLIENT, BUILD, SERVER, FEAT

#16 Feat: 드롭다운 컴포넌트 구현
  client/src/assets/icons/icon-dropdown.svg
  client/src/components/Dropdown.tsx
  client/src/features/jobs/FilterBar.tsx
Labels: CLIENT, FEAT

#18 Feat 버튼 컴포넌트 생성 및 메인 버튼 적용
  client/src/components/Button.tsx
  client/src/features/main/StartCTASection.tsx
Labels: CLIENT, FEAT

#19 Feat: 메인페이지 타이틀 및 메세지 섹션 구현
  client/package.json
  client/src/assets/icons/icon-moon.png
  client/src/assets/icons/icon-scroll.png
  client/src/assets/icons/icon-star.png
  client/src/assets/lying-bear.png
  client/src/assets/space-bear.png
  client/src/features/main/MessageSection.tsx
  client/src/features/main/TitleSection.tsx
  client/src/pages/MainPage.tsx
  pnpm-lock.yaml
Labels: BUILD, FEAT

#21 Feat: html메타데이터 및 파비콘 변경
  client/index.html
  client/public/jobThoughts.svg
  client/public/vite.svg
Labels: FEAT

#24 Refactor: 메인페이지의 타이틀 및 메세지 섹션 리팩토링
  client/src/features/main/CharacterBanner.tsx
  client/src/features/main/MessageSection.tsx
  client/src/features/main/TitleSection.tsx
  client/src/hooks/useScrollAnimation.tsx
  client/src/pages/MainPage.tsx
Labels: REFACTOR, CHORE, STYLE

#26 Feat: 메인페이지 시작CTA섹션 구현
  client/src/assets/icons/icon-compass.png
  client/src/assets/icons/icon-key.png
  client/src/assets/icons/icon-rocket.png
  client/src/assets/icons/icon-start-arrow.png
  client/src/assets/start-bear.png
  client/src/features/main/StartCTASection.tsx
Labels: CLIENT, FEAT

#27 Feat: 카드 컴포넌트 생성
  client/src/assets/card/achievement.svg
  client/src/assets/card/autonomy.svg
  client/src/assets/card/creativity.svg
  client/src/assets/card/pay.svg
  client/src/assets/card/self-development.svg
  client/src/assets/card/social-contribution.svg
  client/src/assets/card/social-recognition.svg
  client/src/assets/card/stability.svg
  client/src/components/Card.tsx
  client/src/features/test/TestQuestionSection.tsx
  client/src/styles/GlobalStyle.ts
  client/src/styles/theme.ts
Labels: CLIENT, CHORE, FEAT

#28 Feat: TestPage에 둥실둥실 떠다니는 배경 이미지 3종 적용
  client/src/pages/TestPage.tsx
Labels: CLIENT, FEAT

#31 Refactor 메인페이지 걱정 곰돌이 리팩토링
  client/src/assets/worried-bear-dot.png
  client/src/assets/worried-bear.png
  client/src/features/main/QuestionSection.tsx
Labels: REFACTOR, CHORE, STYLE, FEAT

#30 Design: 섹션 간 z-index 조정으로 겹침 현상 해결
  client/src/features/main/MessageSection.tsx
Labels: CLIENT, STYLE

#32 Fix: hero section 버그수정
  client/src/features/main/TitleSection.tsx
  client/src/styles/GlobalStyle.ts
Labels: BUG, CLIENT

#36 Feat: 버튼 컴포넌트 폰트 굵기 추가
  client/src/components/Button.tsx
Labels: CLIENT, FEAT

#33 Refactor: StartCTASection 레이아웃 및 애니메이션 구조 개선
  client/src/features/main/StartCTASection.tsx
Labels: REFACTOR, CLIENT, STYLE

#34 Feat: 검사 결과 가치관 설명 카드 슬라이드 애니메이션 구현
  client/src/assets/icons/icon-close-button.png
  client/src/data/resultValuesData.ts
  client/src/features/result/ResultChart.tsx
  client/src/features/result/ResultDescriptionCard.tsx
  client/src/pages/ResultPage.tsx
Labels: CLIENT, CHORE, STYLE, FEAT

#37 Feat: flow button 섹션 구현
  client/src/assets/bears/flow-bear.svg
  client/src/components/StepItem.tsx
  client/src/features/main/FlowButtonSection.tsx
Labels: CLIENT, STYLE, FEAT

#38 Feat: 직업검사 소개페이지 구현
  client/src/components/Card.tsx
  client/src/features/test/TestInformSection.tsx
Labels: BUG, CLIENT, STYLE, FEAT

#39 Feat: 직업검사 검사완료페이지 구현
  client/src/assets/icons/icon-check.png
  client/src/components/Button.tsx
  client/src/components/CardFrame.tsx
  client/src/features/test/TestCompleteSection.tsx
Labels: CLIENT, FEAT

#42 Fix: HeroSection-100vw로 인해 생기던 우측 검정 여백 문제 해결
  client/src/features/main/HeroSection.tsx
Labels: BUG, CLIENT, STYLE

#40 Feat: 직업 검사 결과 페이지 직업 소개 레이아웃 구현
  client/src/assets/bears/bears-6.svg
  client/src/assets/bears/bears-7.svg
  client/src/assets/bears/job-introduce-bear.svg
  client/src/features/result/JobGroupSection.tsx
Labels: CLIENT, STYLE, FEAT

#43 Design: 검사 결과 가치관 카드 섹션 제목 폰트 사이즈 및 내용 스타일 적용
  client/src/features/result/ResultDescriptionCard.tsx
Labels: CLIENT, STYLE

#45 Feat 직업 검사 결과 페이지 최상단에 차트 라벨 사용법 문구 추가
  client/src/assets/icons/icon-click-finger.svg
  client/src/pages/ResultPage.tsx
Labels: CLIENT, CHORE, STYLE, FEAT

#50 Feat: 카드프레임 이전 질문 돌아가기 구현
  client/src/assets/icons/icon-back.svg
  client/src/components/CardFrame.tsx
  client/src/features/test/TestInformSection.tsx
  client/src/features/test/TestQuestionSection.tsx
  client/src/pages/TestPage.tsx
Labels: REFACTOR, CLIENT, FEAT

#52 Feat: 채용공고 페이지 구현
  client/src/assets/bears/job-holding-bear.svg
  client/src/assets/icons/icon-bag.svg
  client/src/assets/icons/icon-calendar.svg
  client/src/assets/icons/icon-dollar.svg
  client/src/assets/icons/icon-edu-hat.svg
  client/src/assets/icons/icon-map.svg
  client/src/assets/icons/icon-megaphone.svg
  client/src/assets/icons/icon-paper.svg
  client/src/assets/icons/icon-pin.svg
  client/src/assets/icons/icon-share.svg
  client/src/assets/icons/icon-star.svg
  client/src/assets/icons/icon-tool.svg
  client/src/components/Dropdown.tsx
  client/src/data/mockJobData.ts
  client/src/features/jobs/FilterBar.tsx
  client/src/features/jobs/JobCard.tsx
  client/src/features/jobs/JobCardList.tsx
  client/src/features/jobs/JobListHeader.tsx
  client/src/hooks/useScrollAnimation.tsx
  client/src/pages/JobListPage.tsx
  client/src/styles/styled.d.ts
  client/src/styles/theme.ts
  client/src/types/index.ts
Labels: CLIENT, STYLE, FEAT

#49 Feat 커리어넷 api 응답 수신
  client/package.json
  client/src/assets/bears/bears-8.svg
  client/src/data/mockAnswersData.ts
  client/src/features/result/JobGroupSection.tsx
  client/src/features/result/ResultChart.tsx
  client/src/features/result/ResultDescriptionCard.tsx
  client/src/pages/ResultPage.tsx
  pnpm-lock.yaml
Labels: CLIENT, FEAT

#53 Fix: message flow 섹션중첩문제 수정
  client/src/components/StepItem.tsx
  client/src/features/main/FlowButtonSection.tsx
  client/src/features/main/MessageSection.tsx
Labels: BUG, CLIENT, STYLE

#55 Design: 메인페이지 푸터 UI 완성
  client/src/components/Footer.tsx
Labels: CLIENT, STYLE

#54 Design: 메인페이지 question section UI 완성
  client/src/assets/bears/worried-bear.svg
  client/src/features/main/QuestionSection.tsx
Labels: REFACTOR, CLIENT, STYLE

#51 Feat: 유저 선택값 저장 구현
  client/package.json
  client/src/api/report.ts
  client/src/components/CardFrame.tsx
  client/src/data/resultValuesData.ts
  client/src/features/result/JobGroupSection.tsx
  client/src/features/result/ResultChart.tsx
  client/src/features/test/TestCompleteSection.tsx
  client/src/features/test/TestQuestionSection.tsx
  client/src/pages/ResultPage.tsx
  client/src/pages/TestPage.tsx
  client/src/store/useResultStore.ts
  client/src/store/useTestStore.ts
  pnpm-lock.yaml
  server/routes/report.js
Labels: CLIENT, BUILD, SERVER, FEAT

#56 Chore: 채용정보 mockData 추가
  client/src/data/mockJobData.ts
Labels: CHORE

#60 Design: 메인페이지 시작 CTA 섹션 UI 완성
  client/src/assets/icons/icon-key.png
  client/src/assets/icons/icon-key.svg
  client/src/assets/icons/icon-rocket.png
  client/src/assets/icons/icon-rocket.svg
  client/src/assets/icons/icon-start-arrow.png
  client/src/assets/icons/icon-start-arrow.svg
  client/src/assets/start-bear.png
  client/src/assets/start-bear.svg
  client/src/components/Button.tsx
  client/src/features/main/StartCTASection.tsx
  client/src/styles/theme.ts
Labels: CLIENT, STYLE, FEAT

#59 Fix: 카드프레임 버그 및 동기화 수정
  client/src/components/CardFrame.tsx
  client/src/features/test/TestQuestionSection.tsx
Labels: BUG, CLIENT, FEAT

#58 Feat: NoResult 컴포넌트 생성
  client/src/assets/bears/no-result-bear.svg
  client/src/components/Button.tsx
  client/src/components/NoResult.tsx
  client/src/pages/ResultPage.tsx
Labels: CLIENT, STYLE, FEAT

#57 Design: 결과페이지 UI 완성
  client/src/assets/bears/job-introduce-bear.svg
  client/src/components/Button.tsx
  client/src/features/result/JobGroupSection.tsx
  client/src/features/result/ResultChart.tsx
  client/src/features/result/ResultDescriptionCard.tsx
  client/src/pages/ResultPage.tsx
Labels: CLIENT, STYLE

#63 Design: 메인페이지 레이아웃 간격 조정
  client/src/features/main/DividerSection.tsx
  client/src/pages/MainPage.tsx
Labels: CLIENT, STYLE

#64 Feat: 곰돌이 손흔들기 추가
  client/src/assets/bears/bears-cta-body.svg
  client/src/assets/bears/bears-cta-hand.svg
  client/src/assets/start-bear.svg
  client/src/components/Image.tsx
  client/src/features/main/StartCTASection.tsx
Labels: CLIENT, STYLE

#62 Feat: 질문카드 진행률표시 구현
  client/src/components/CardFrame.tsx
  client/src/features/test/TestQuestionSection.tsx
Labels: CLIENT, FEAT

#66 Chore: render 배포서버 설정
  server/index.js
Labels: CHORE

#67 Feat: 프론트 배포 설정
  client/src/api/config.ts
  client/src/api/questions.ts
  client/src/api/report.ts
Labels: CLIENT, CHORE

#65 Fix: 결과페이지에서 로딩 중 404페이지 우선 노출 버그 수정
  client/src/components/NoResult.tsx
  client/src/pages/ResultPage.tsx
Labels: BUG, CLIENT, FEAT

#68 Build: chrome 서버 패키지 추가
  server/index.js
  server/package.json
Labels: CLIENT, SERVER

#69 Fix: local CORS 허용
  server/index.js
Labels: BUG

#70 Design: JobGroupSection 레이아웃 수정
  client/src/features/result/JobGroupSection.tsx
Labels: CLIENT, STYLE

#71 Feat: 카드 색상 순환 방식 → 이전 카드 색상 복사 방식으로 변경
  client/src/components/CardFrame.tsx
Labels: CLIENT, STYLE, FEAT

#72 Feat: 배포 테스트페이지 및 크롬경로추가
  client/src/pages/DevPage.tsx
  server/services/puppeteer.js
Labels: BUG, CLIENT

#75 Feat 퍼펫티어 설정파일 추가
  .gitignore
  package.json
  server/package.json
  server/puppeteer.config.cjs
Labels: BUG, SERVER

#74 Design: 채용공고 holdingBear 이미지 z-index 최상위로 수정
  client/src/pages/JobListPage.tsx
Labels: CLIENT, STYLE

#76 Bug: 디버깅 소스 추가
  server/index.js
  server/services/puppeteer.js
Labels: BUG, CHORE

#77 Design: 검사페이지 중 마지막 페이지 반응형 처리
  client/src/components/Button.tsx
  client/src/features/test/TestCompleteSection.tsx
  client/src/pages/TestPage.tsx
Labels: CLIENT, STYLE

#80 Style: 메인페이지 QuestionSection 모바일 화면 폰트 사이즈 확대
  client/src/features/main/QuestionSection.tsx
Labels: CLIENT, STYLE

#82 Design: 메인페이지 메세지섹션 반응형 구현
  client/src/components/StepItem.tsx
  client/src/features/main/DividerSection.tsx
  client/src/features/main/FlowButtonSection.tsx
  client/src/features/main/MessageSection.tsx
  client/src/features/main/TitleSection.tsx
  client/src/features/test/TestQuestionSection.tsx
Labels: CLIENT, STYLE

#79 Fix: fetchTried 상태 변수 제거로 404 우선 노출 해결
  client/src/pages/ResultPage.tsx
Labels: BUG, CLIENT, CHORE

#81 Feat: hero section 모바일뷰 구현
  client/src/features/main/HeroSection.tsx
  client/src/hooks/useMediaQuery.ts
  client/src/styles/GlobalStyle.ts
Labels: CLIENT, STYLE

#83 Fix: 서버 캐싱 누락 추가
  .gitignore
  server/index.js
  server/routes/report.js
  server/utils/cacheStore.js
Labels: SERVER

#86 Feat: 드롭다운에 전체 추가 및 전체정렬 기능 추가
  client/src/features/jobs/FilterBar.tsx
  client/src/pages/JobListPage.tsx
Labels: CLIENT, FEAT

#84 Design: 검사페이지 소개/질문 섹션 반응형 구현
  client/src/components/Button.tsx
  client/src/components/Card.tsx
  client/src/components/CardFrame.tsx
  client/src/features/test/TestInformSection.tsx
  client/src/features/test/TestQuestionSection.tsx
  client/src/pages/TestPage.tsx
Labels: CLIENT, STYLE

#87 Fix: 애니메이션 요소 무한튕김 해결
  client/package.json
  client/src/features/jobs/JobCard.tsx
  client/src/features/main/FlowButtonSection.tsx
  client/src/features/main/MessageSection.tsx
  client/src/features/main/QuestionSection.tsx
  client/src/features/main/StartCTASection.tsx
  client/src/hooks/useScrollAnimation.ts
  client/src/hooks/useScrollAnimationOrigin.tsx
  pnpm-lock.yaml
Labels: BUG, REFACTOR, CLIENT, STYLE

#90 Refactor: 결과페이지 모바일 반응형 개선
  client/src/features/result/JobGroupSection.tsx
  client/src/features/result/ResultChart.tsx
  client/src/features/result/ResultDescriptionCard.tsx
  client/src/pages/ResultPage.tsx
Labels: REFACTOR, CLIENT, STYLE

#89 Fix: MainPage 및 job페이지 design ux완성도 개선
  client/src/components/Footer.tsx
  client/src/components/Toast.tsx
  client/src/features/jobs/JobCard.tsx
  client/src/features/main/FlowButtonSection.tsx
  client/src/features/main/HeroSection.tsx
  client/src/features/main/QuestionSection.tsx
  client/src/features/main/StartCTASection.tsx
  client/src/hooks/useScrollAnimationOrigin.ts
  client/src/styles/GlobalStyle.ts
Labels: BUG, CLIENT, STYLE

#88 Design: 검사페이지 모바일 반응형 개선
  client/package.json
  client/src/components/Button.tsx
  client/src/components/CardFrame.tsx
  client/src/features/test/TestCompleteSection.tsx
  client/src/features/test/TestInformSection.tsx
  client/src/features/test/TestQuestionSection.tsx
  client/src/pages/TestPage.tsx
  pnpm-lock.yaml
Labels: CLIENT, STYLE

#91 Feat: 검사응답 대기화면 구현
  client/src/assets/bears/hi-bear.svg
  client/src/assets/bears/stop-bear.svg
  client/src/components/Loading.tsx
  client/src/components/LoadingCarousel.tsx
  client/src/features/result/LoadingSection.tsx
  client/src/pages/ResultPage.tsx
Labels: CLIENT, STYLE, FEAT

#92 Design: 검사페이지 반응형 최종 수정
  client/src/components/Button.tsx
  client/src/components/Card.tsx
  client/src/components/CardFrame.tsx
  client/src/features/test/TestInformSection.tsx
  client/src/features/test/TestQuestionSection.tsx
  client/src/pages/TestPage.tsx
Labels: CLIENT, STYLE

#93 Design: 모바일뷰 UX를 고려한 UI 개선
  client/src/features/result/JobGroupSection.tsx
Labels: CLIENT, STYLE

#94 Design: 검사페이지 질문 카드 최종 수정
  client/src/components/Card.tsx
  client/src/pages/TestPage.tsx
Labels: CLIENT, STYLE

#95 Feat: 결과페이지 온보딩
  client/src/data/mockResultData.ts
  client/src/data/resultData.ts
  client/src/features/result/OnboardingModal.tsx
  client/src/pages/ResultPage.tsx
Labels: CLIENT, STYLE, FEAT
